<!doctype html>
<html>
{% load static %}
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="{% static 'content/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'content/css/style.css' %}">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<a class="my-0 mr-md-auto font-weight-normal text-dark" href="/">Главная</a>
      <!--<nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#"></a>
      </nav>-->
		{% if request.user.is_authenticated %}
		<a class="nav-link">{{user.username}}</a>
		<a class="nav-link" href="{% url 'logout' %}">Выйти</a>
		{% else %}
		<a class="btn btn-outline-primary mr-md-3" href="{% url 'register' %}">Регистрация</a>
		<a class="btn btn-outline-primary mr-md-3" href="{% url 'login' %}">Войти</a>
		{% endif %}
    </div>
</header>

<main role="main" class="container mt-5">
	{% block content %}{% endblock %}
</main>

<footer class="footer">
	<div class="container">
        <span class="text-muted">КІУКІ-18-3, Куренко Владислав</span>
	</div>
</footer>

<script src="{% static 'content/js/jquery.js' %}"></script>
<script src="{% static 'content/js/bootstrap.js' %}"></script>
</body>
</html>
